USE [master]
GO
/****** Object:  Database [workflow2]    Script Date: 10/20/2025 11:12:54 AM ******/
CREATE DATABASE [workflow2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WorkFlow2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\workflow2.mdf' , SIZE = 6144KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'WorkFlow2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\workflow2_log.ldf' , SIZE = 5696KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [workflow2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [workflow2]
GO
/****** Object:  UserDefinedTableType [dbo].[TBAppLevel]    Script Date: 10/20/2025 11:12:55 AM ******/
CREATE TYPE [dbo].[TBAppLevel] AS TABLE(
	[ApplicationId] [int] NULL,
	[Application_Level_Id] [int] NULL,
	[NodeID] [nvarchar](max) NULL,
	[Application_Level_Name] [nvarchar](max) NULL,
	[Column_Name_Value] [nvarchar](max) NULL,
	[Tools_Id] [nvarchar](max) NULL,
	[Is_Required] [nvarchar](max) NULL,
	[Shared_Table_Id] [nvarchar](max) NULL,
	[DisplaylinkId] [nvarchar](max) NULL
)
GO
/****** Object:  UserDefinedFunction [dbo].[FnEmp]    Script Date: 10/20/2025 11:12:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create FUNCTION [dbo].[FnEmp]
()

 RETURNS   @RT TABLE (
        [EmployeeID]         INT            NOT NULL,
        [Employee_Name]      NVARCHAR (50)  NULL,
        [IDNumber]           NVARCHAR (50)  NULL,
        [NT_User]            NVARCHAR (50)  NULL,
        [MilitaryRank_ID]    INT            NULL,
        [Military_Rank_Name] NVARCHAR (50)  NULL,
        [CivilRankID]        INT            NULL,
        [CivilRankName]      NVARCHAR (50)  NULL,
        FullName             NVARCHAR (MAX),
        [IP]                 NVARCHAR (MAX),
        [SwitchIP]           NVARCHAR (MAX),
        [Department]         NVARCHAR (MAX),
        [Section]            NVARCHAR (MAX),
        [Building]           NVARCHAR (MAX),
        [Floor]              NVARCHAR (MAX),
        [Room]               NVARCHAR (MAX),
        LastRequestID        NVARCHAR (MAX),
        MobileNo             NVARCHAR (MAX),
        ExtensionNo          NVARCHAR (MAX))

BEGIN
  
    INSERT INTO @RT
    SELECT a.[EmployeeID],
           [Employee_Name],
           [IDNumber],
           [NT_User],
           [MilitaryRank_ID],
           [Military_Rank_Name],
           [CivilRankID],
           [CivilRankName],
           UPPER(CONVERT (NVARCHAR (MAX), [IDNumber]) + ' ' + [NT_User] + ' ' + [Employee_Name]),
           [IP],
           [SwitchIP],
           [Department],
           [Section],
           [Building],
           [Floor],
           [Room],
           [RequestID],
           MobileNo,
           ExtensionNo
    FROM   [MMS].[dbo].[Employees] AS a
           LEFT OUTER JOIN
           [MMS].[dbo].[EmpLocation] AS b
           ON a.EmployeeID = b.[EmployeeID]
              AND b.[ISLast] = 1
   
    RETURN;
END
GO
/****** Object:  UserDefinedFunction [dbo].[FnSearchEmp]    Script Date: 10/20/2025 11:12:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FnSearchEmp]
(@SearchP NVARCHAR (MAX))
RETURNS 
    @RT TABLE (
        [EmployeeID]         INT            NOT NULL,
        [Employee_Name]      NVARCHAR (50)  NULL,
        [IDNumber]           NVARCHAR (50)  NULL,
        [NT_User]            NVARCHAR (50)  NULL,
        [MilitaryRank_ID]    INT            NULL,
        [Military_Rank_Name] NVARCHAR (50)  NULL,
        [CivilRankID]        INT            NULL,
        [CivilRankName]      NVARCHAR (50)  NULL,
        FullName             NVARCHAR (MAX),
        [IP]                 NVARCHAR (MAX),
        [SwitchIP]           NVARCHAR (MAX),
        [Department]         NVARCHAR (MAX),
        [Section]            NVARCHAR (MAX),
        [Building]           NVARCHAR (MAX),
        [Floor]              NVARCHAR (MAX),
        [Room]               NVARCHAR (MAX),
        LastRequestID        NVARCHAR (MAX),
        MobileNo             NVARCHAR (MAX),
        ExtensionNo          NVARCHAR (MAX))
AS
BEGIN
    DECLARE @TremData AS NVARCHAR (MAX) = UPPER(RTRIM(LTRIM(@SearchP)));
    INSERT INTO @RT
    SELECT a.[EmployeeID],
           [Employee_Name],
           [IDNumber],
           [NT_User],
           [MilitaryRank_ID],
           [Military_Rank_Name],
           [CivilRankID],
           [CivilRankName],
           UPPER(CONVERT (NVARCHAR (MAX), [IDNumber]) + ' ' + [NT_User] + ' ' + [Employee_Name]),
           [IP],
           [SwitchIP],
           [Department],
           [Section],
           [Building],
           [Floor],
           [Room],
           [RequestID],
           MobileNo,
           ExtensionNo
    FROM   [MMS].[dbo].[Employees] AS a
           LEFT OUTER JOIN
           [MMS].[dbo].[EmpLocation] AS b
           ON a.EmployeeID = b.[EmployeeID]
              AND b.[ISLast] = 1
    WHERE  UPPER(CONVERT (NVARCHAR (MAX), [IDNumber]) + ' ' + [NT_User] + ' ' + [Employee_Name]) LIKE '%' + @TremData + '%';
    RETURN;
END
GO
/****** Object:  Table [dbo].[ManagerType]    Script Date: 10/20/2025 11:12:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManagerType](
	[ManagerTypeID] [int] IDENTITY(1,1) NOT NULL,
	[ManagerTypeName] [nvarchar](50) NOT NULL,
	[InUse] [bit] NOT NULL,
 CONSTRAINT [PK_ManagerType] PRIMARY KEY CLUSTERED 
(
	[ManagerTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Application_Level_Assigned]    Script Date: 10/20/2025 11:12:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Application_Level_Assigned](
	[Application_Level_Assigned_Id] [int] IDENTITY(1,1) NOT NULL,
	[Application_Level_Id] [int] NOT NULL,
	[AssginTypeID] [int] NULL,
	[Assigned_To_Emp_Id] [int] NULL,
	[ManagerTypeID] [int] NULL,
	[Assigned_In_Use] [bit] NULL,
	[Cr_Date] [datetime] NULL,
	[Cr_Emp_Id] [nvarchar](128) NULL,
	[Up_Date] [datetime] NULL,
	[Up_Emp_Id] [nvarchar](128) NULL,
 CONSTRAINT [PK_Application_Level_Assigned] PRIMARY KEY CLUSTERED 
(
	[Application_Level_Assigned_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[FnApplicationLevelAssigned]    Script Date: 10/20/2025 11:12:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE FUNCTION [dbo].[FnApplicationLevelAssigned]
(	
	-- Add the parameters for the function here
@ApplicationLevelId int
)
RETURNS TABLE 
AS
RETURN 
(
	-- Add the SELECT statement with parameter references here
SELECT [Application_Level_Assigned_Id]
      ,[Application_Level_Id]
      ,[AssginTypeID]
      ,[Assigned_To_Emp_Id] ,c.Employee_Name,c.IDNumber,c.NT_User
      ,a.[ManagerTypeID],b.ManagerTypeName
      ,[Assigned_In_Use]
      ,[Cr_Date]
      ,[Cr_Emp_Id]
      ,[Up_Date]
      ,[Up_Emp_Id], case when [AssginTypeID]=1 then  c.Employee_Name +'-'+c.NT_User  else  b.ManagerTypeName end as    AssTo,  case when [AssginTypeID]=1  then 'اسناد الي موظفين' else 'اسناد الي وظيفة' end as AssType 
  FROM [Application_Level_Assigned] as a
  left outer join ManagerType as b on a.[ManagerTypeID]=b.[ManagerTypeID]
  left outer join FnEmp() as c on a.Assigned_To_Emp_Id=c.EmployeeID
  where Application_Level_Id=@ApplicationLevelId
)
GO
/****** Object:  Table [dbo].[Actions]    Script Date: 10/20/2025 11:12:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Actions](
	[ActionID] [int] IDENTITY(1,1) NOT NULL,
	[ActionName] [nvarchar](50) NOT NULL,
	[ActionInUSe] [bit] NOT NULL,
	[ActionNameArabic] [nvarchar](50) NOT NULL,
	[MoveNext] [bit] NOT NULL,
	[SuspendIn] [bit] NOT NULL,
	[IsSpecial] [bit] NULL,
	[ForApplication_Id] [int] NULL,
 CONSTRAINT [PK_Actions] PRIMARY KEY CLUSTERED 
(
	[ActionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ApplicationLable]    Script Date: 10/20/2025 11:12:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplicationLable](
	[ApplicationLableId] [int] IDENTITY(1,1) NOT NULL,
	[FromApplicationLevelId] [int] NOT NULL,
	[ToApplicationLevelId] [int] NOT NULL,
	[fromPort] [nvarchar](50) NULL,
	[toPort] [nvarchar](50) NULL,
	[position] [float] NULL,
	[content] [float] NULL,
	[templateId] [nvarchar](50) NULL,
	[movex] [int] NULL,
	[movey] [int] NULL,
	[text] [varchar](50) NULL,
	[InUse] [bit] NULL,
 CONSTRAINT [PK_ApplicationLable] PRIMARY KEY CLUSTERED 
(
	[ApplicationLableId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ApplicationLink]    Script Date: 10/20/2025 11:12:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplicationLink](
	[ApplictionLinkId] [int] IDENTITY(1,1) NOT NULL,
	[FromTApplicationLevelId] [int] NOT NULL,
	[ToApplicationLevelId] [int] NOT NULL,
	[templateId] [varchar](50) NOT NULL,
	[length] [float] NOT NULL,
	[InUse] [bit] NULL,
 CONSTRAINT [PK_ApplicationLink] PRIMARY KEY CLUSTERED 
(
	[ApplictionLinkId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ApplicationNotification]    Script Date: 10/20/2025 11:12:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplicationNotification](
	[ApplicationNotificationID] [int] IDENTITY(1,1) NOT NULL,
	[ActionID] [int] NOT NULL,
	[ApplictionLinkId] [int] NOT NULL,
	[ToEmpId] [int] NOT NULL,
 CONSTRAINT [PK_ApplicationNotification] PRIMARY KEY CLUSTERED 
(
	[ApplicationNotificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ApplicationProcuderDetail]    Script Date: 10/20/2025 11:12:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplicationProcuderDetail](
	[ProcuderDetailId] [int] IDENTITY(1,1) NOT NULL,
	[Application_Level_Id] [int] NOT NULL,
	[Application_Requirement_Id] [int] NOT NULL,
	[ColumnName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ProcuderDetail] PRIMARY KEY CLUSTERED 
(
	[ProcuderDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Application_Levels]    Script Date: 10/20/2025 11:12:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Application_Levels](
	[Application_Level_Id] [int] IDENTITY(1,1) NOT NULL,
	[Application_Id] [int] NULL,
	[Archives_master_Id] [int] NULL,
	[Application_Level_Name] [varchar](50) NOT NULL,
	[Application_Level_Index] [int] NOT NULL,
	[Can_Show_Attach] [bit] NOT NULL,
	[Can_End_Request] [bit] NOT NULL,
	[Can_Return] [bit] NOT NULL,
	[Can_Reject] [bit] NOT NULL,
	[Can_Conversion] [bit] NOT NULL,
	[Application_Level_InUse] [bit] NULL,
	[Application_Level_Up_Date] [date] NULL,
	[Application_Level_Up_EmpId] [int] NULL,
	[ProcuderName] [nvarchar](50) NULL,
	[TBName] [nvarchar](50) NULL,
	[Notification] [nvarchar](50) NULL,
	[HiddenLevel] [bit] NULL,
	[x] [float] NULL,
	[y] [float] NULL,
	[fill] [nvarchar](max) NULL,
	[templateId] [nvarchar](max) NULL,
 CONSTRAINT [PK_Application_Levels] PRIMARY KEY CLUSTERED 
(
	[Application_Level_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Application_Requirement]    Script Date: 10/20/2025 11:12:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Application_Requirement](
	[Application_Requirement_Id] [int] IDENTITY(1,1) NOT NULL,
	[Application_Level_Id] [int] NOT NULL,
	[Application_Id] [int] NULL,
	[Archives_master_Id] [int] NULL,
	[Column_Name_Value] [varchar](50) NOT NULL,
	[Tools_Id] [int] NOT NULL,
	[Is_Required] [bit] NOT NULL,
	[Shared_Table_Id] [int] NULL,
	[Application_Requirement_In_Use] [bit] NOT NULL,
	[Cr_Date] [datetime] NOT NULL,
	[Cr_Emp_Id] [int] NOT NULL,
	[Up_Date] [datetime] NULL,
	[Up_Emp_Id] [int] NULL,
	[In_Start] [bit] NULL,
	[DisplaylinkId] [int] NULL,
	[FixId] [nvarchar](50) NULL,
	[FnRun] [nvarchar](50) NULL,
	[DisplayIndex] [int] NULL,
	[UseMin] [bit] NULL,
 CONSTRAINT [PK_Application_Requirement] PRIMARY KEY CLUSTERED 
(
	[Application_Requirement_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Application_Requirement_Details]    Script Date: 10/20/2025 11:12:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Application_Requirement_Details](
	[Application_Req_Details_Id] [int] IDENTITY(1,1) NOT NULL,
	[Application_Requirement_Id] [int] NOT NULL,
	[App_Req_D_Value] [varchar](50) NOT NULL,
	[Application_Req_Details_In_Use] [bit] NOT NULL,
	[Cr_Date] [datetime] NOT NULL,
	[Cr_Emp_Id] [int] NOT NULL,
	[Up_Date] [datetime] NULL,
	[Up_Emp_Id] [int] NULL,
 CONSTRAINT [PK_Application_Requirement_Details] PRIMARY KEY CLUSTERED 
(
	[Application_Req_Details_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Applications]    Script Date: 10/20/2025 11:12:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Applications](
	[Application_Id] [int] IDENTITY(1,1) NOT NULL,
	[Application_Name_Eng] [varchar](50) NOT NULL,
	[Application_Name_Ar] [varchar](50) NOT NULL,
	[Department_Id] [int] NOT NULL,
	[Section_Id] [int] NULL,
	[Cr_Date] [datetime] NOT NULL,
	[Cr_Emp_Id] [nvarchar](128) NOT NULL,
	[Up_Date] [datetime] NULL,
	[Up_Emp_Id] [nvarchar](128) NULL,
	[Application_In_Use] [bit] NOT NULL,
	[SystemInfoId] [int] NULL,
 CONSTRAINT [PK_Applications] PRIMARY KEY CLUSTERED 
(
	[Application_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Archives_master]    Script Date: 10/20/2025 11:12:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Archives_master](
	[Archives_master_Id] [int] IDENTITY(1,1) NOT NULL,
	[Archives_master_Name] [nvarchar](50) NOT NULL,
	[Archives_master_Note] [text] NOT NULL,
	[Department_Id] [int] NOT NULL,
	[Cr_UserId] [nvarchar](128) NOT NULL,
	[Cr_Date] [datetime] NOT NULL,
	[Archives_master_Active] [bit] NULL,
	[Up_UserId] [nvarchar](128) NULL,
	[up_Date] [datetime] NULL,
 CONSTRAINT [PK_Archives_master] PRIMARY KEY CLUSTERED 
(
	[Archives_master_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AttachmentDetail]    Script Date: 10/20/2025 11:12:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AttachmentDetail](
	[AttachmentDetailId] [int] IDENTITY(1,1) NOT NULL,
	[AttachmentId] [int] NOT NULL,
	[AttachPath] [nvarchar](max) NOT NULL,
	[Size] [nvarchar](50) NULL,
	[Type] [nvarchar](50) NULL,
	[CrDate] [datetime] NULL,
	[Cr_EmpId] [int] NULL,
 CONSTRAINT [PK_AttachmentDetail] PRIMARY KEY CLUSTERED 
(
	[AttachmentDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AttachmentMaster]    Script Date: 10/20/2025 11:12:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AttachmentMaster](
	[AttachmentId] [int] IDENTITY(1,1) NOT NULL,
	[Cr_EmpID] [int] NOT NULL,
	[Cr_Date] [datetime] NOT NULL,
	[Note] [nvarchar](max) NULL,
 CONSTRAINT [PK_AttachmentMaster] PRIMARY KEY CLUSTERED 
(
	[AttachmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AttachmentsType]    Script Date: 10/20/2025 11:12:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AttachmentsType](
	[AttachTypeId] [int] IDENTITY(1,1) NOT NULL,
	[AttachTypeName] [nvarchar](50) NOT NULL,
	[InUse] [bit] NOT NULL,
 CONSTRAINT [PK_AttachmentsType] PRIMARY KEY CLUSTERED 
(
	[AttachTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Check_List_Details]    Script Date: 10/20/2025 11:12:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Check_List_Details](
	[Check_List_Details_Id] [int] IDENTITY(1,1) NOT NULL,
	[Application_Requirement_Id] [int] NOT NULL,
	[Request_ID] [int] NOT NULL,
	[Check_List_Value] [int] NOT NULL,
 CONSTRAINT [PK_Check_List_Details] PRIMARY KEY CLUSTERED 
(
	[Check_List_Details_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DepManager]    Script Date: 10/20/2025 11:12:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DepManager](
	[DepManagerId] [int] IDENTITY(1,1) NOT NULL,
	[Department_Id] [int] NOT NULL,
	[Employe_Id] [int] NOT NULL,
	[InUse] [bit] NULL,
 CONSTRAINT [PK_DepManager] PRIMARY KEY CLUSTERED 
(
	[DepManagerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 10/20/2025 11:12:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[Department_Id] [int] IDENTITY(1,1) NOT NULL,
	[DIVISIONID] [int] NOT NULL,
	[Department_Name_Eng] [varchar](50) NULL,
	[STATUS_ID] [int] NULL,
	[DEPT_CRE_UID] [int] NULL,
	[DEPT_CRE_DATE] [date] NULL,
	[Department_Name_Ar] [varchar](50) NULL,
 CONSTRAINT [PK_DEPARTMENT] PRIMARY KEY CLUSTERED 
(
	[Department_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DisplayLink]    Script Date: 10/20/2025 11:12:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DisplayLink](
	[DisplaylinkId] [int] IDENTITY(1,1) NOT NULL,
	[DisplaylinkName] [nvarchar](max) NOT NULL,
	[DisplaylinkInUse] [bit] NOT NULL,
	[DisplayFunction] [nvarchar](50) NULL,
 CONSTRAINT [PK_DisplayLink] PRIMARY KEY CLUSTERED 
(
	[DisplaylinkId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 10/20/2025 11:12:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[Employee_Name] [nvarchar](50) NULL,
	[IDNumber] [nvarchar](50) NULL,
	[NT_User] [nvarchar](50) NULL,
	[MilitaryRank_ID] [int] NULL,
	[Military_Rank_Name] [nvarchar](50) NULL,
	[CivilRankID] [int] NULL,
	[CivilRankName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LinkCondation]    Script Date: 10/20/2025 11:12:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LinkCondation](
	[LinkCondationID] [int] IDENTITY(1,1) NOT NULL,
	[ApplictionLinkId] [int] NOT NULL,
	[ActionID] [int] NOT NULL,
	[AnyOne] [bit] NOT NULL,
	[MustAll] [bit] NOT NULL,
	[ChangeActionID] [int] NULL,
 CONSTRAINT [PK_LinkCondation] PRIMARY KEY CLUSTERED 
(
	[LinkCondationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notification]    Script Date: 10/20/2025 11:12:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification](
	[NotificationId] [int] IDENTITY(1,1) NOT NULL,
	[NotificationAppId] [int] NOT NULL,
	[NotificationSubject] [nvarchar](max) NOT NULL,
	[NotificationBody] [nvarchar](max) NULL,
	[SendEmail] [bit] NULL,
	[CrDate] [datetime] NULL,
	[CrEmpID] [int] NULL,
	[ControllerName] [nvarchar](50) NULL,
	[PageName] [nvarchar](50) NULL,
	[InUse] [bit] NULL,
 CONSTRAINT [PK_Notification] PRIMARY KEY CLUSTERED 
(
	[NotificationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NotificationApp]    Script Date: 10/20/2025 11:12:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NotificationApp](
	[NotificationAppId] [int] IDENTITY(1,1) NOT NULL,
	[NotificationAppName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_NotificationApp] PRIMARY KEY CLUSTERED 
(
	[NotificationAppId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifier]    Script Date: 10/20/2025 11:12:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifier](
	[NotifierId] [int] IDENTITY(1,1) NOT NULL,
	[NotificationId] [int] NOT NULL,
	[EmpId] [int] NOT NULL,
	[IsRead] [bit] NOT NULL,
	[ReadDate] [datetime] NULL,
	[IsSend] [bit] NULL,
 CONSTRAINT [PK_Notifier] PRIMARY KEY CLUSTERED 
(
	[NotifierId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RelativeType]    Script Date: 10/20/2025 11:12:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RelativeType](
	[Relative_TypeId] [int] IDENTITY(1,1) NOT NULL,
	[RelativeTypeName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_RelativeType] PRIMARY KEY CLUSTERED 
(
	[Relative_TypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Request]    Script Date: 10/20/2025 11:12:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Request](
	[Request_ID] [int] IDENTITY(1,1) NOT NULL,
	[Application_Id] [int] NULL,
	[Assigned_From_Emp_Id] [int] NULL,
	[Request_Status_Id] [int] NULL,
	[Request_Date] [datetime] NULL,
	[End_Date] [datetime] NULL,
	[Is_End] [bit] NULL,
	[Is_Complate] [bit] NULL,
	[Complate_Date] [datetime] NULL,
	[IsDeleted] [bit] NULL,
	[DeletedDate] [datetime] NULL,
	[DeletedUser] [nvarchar](128) NULL,
 CONSTRAINT [PK_Request] PRIMARY KEY CLUSTERED 
(
	[Request_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Request_Details]    Script Date: 10/20/2025 11:12:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Request_Details](
	[Request_Details_Id] [int] IDENTITY(1,1) NOT NULL,
	[Application_Requirement_Id] [int] NOT NULL,
	[Request_ID] [int] NULL,
	[S_Application_Req_Details_Id] [int] NULL,
	[S_Shared_Table_Id] [int] NULL,
	[S_Shared_Table_Id_Value] [int] NULL,
	[S_Value] [text] NULL,
	[S_Date] [datetime] NULL,
	[Request_Level_Id] [int] NULL,
 CONSTRAINT [PK_Request_Details] PRIMARY KEY CLUSTERED 
(
	[Request_Details_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Request_Details_Attach]    Script Date: 10/20/2025 11:12:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Request_Details_Attach](
	[Request_Details_Attach_Id] [int] IDENTITY(1,1) NOT NULL,
	[Request_ID] [int] NOT NULL,
	[Application_Requirement_Id] [int] NOT NULL,
	[Request_Details_Attach_Path] [varchar](max) NOT NULL,
	[Request_Details_Attach_Name] [varchar](max) NOT NULL,
	[Cr_Date] [datetime] NOT NULL,
	[Cr_Emp_Id] [int] NOT NULL,
	[Request_Level_Id] [int] NULL,
	[Request_Details_Id] [int] NULL,
 CONSTRAINT [PK_Request_Details_Attach] PRIMARY KEY CLUSTERED 
(
	[Request_Details_Attach_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Request_Details_Status]    Script Date: 10/20/2025 11:12:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Request_Details_Status](
	[Request_Details_Status_Id] [int] NOT NULL,
	[Request_Details_Status_Eng] [varchar](50) NOT NULL,
	[Request_Details_Status_Ar] [varchar](50) NOT NULL,
	[Retrun] [bit] NOT NULL,
	[Reject] [bit] NOT NULL,
	[Complete] [bit] NOT NULL,
	[Conversion] [bit] NOT NULL,
 CONSTRAINT [PK_Request_Details_Status] PRIMARY KEY CLUSTERED 
(
	[Request_Details_Status_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Request_Level]    Script Date: 10/20/2025 11:12:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Request_Level](
	[Request_Level_Id] [int] IDENTITY(1,1) NOT NULL,
	[Application_Level_Id] [int] NULL,
	[Request_ID] [int] NULL,
	[Assigned_To_Emp_Id] [int] NULL,
	[Assigned_Date] [datetime] NULL,
	[Request_Details_Status_Id] [int] NULL,
	[Conversion_To_Emp_Id] [int] NULL,
	[Action_Date] [datetime] NULL,
	[In_Use] [bit] NULL,
 CONSTRAINT [PK_Request_Level] PRIMARY KEY CLUSTERED 
(
	[Request_Level_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Request_Level_Assigned]    Script Date: 10/20/2025 11:12:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Request_Level_Assigned](
	[Request_Level_Assigned_Id] [int] IDENTITY(1,1) NOT NULL,
	[Assigned_To_UserID] [int] NOT NULL,
	[Request_Level_Id] [int] NOT NULL,
	[Application_Level_Id] [int] NOT NULL,
 CONSTRAINT [PK_Request_Level_Assigned] PRIMARY KEY CLUSTERED 
(
	[Request_Level_Assigned_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Request_Status]    Script Date: 10/20/2025 11:12:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Request_Status](
	[Request_Status_Id] [int] IDENTITY(1,1) NOT NULL,
	[Request_Status_Eng] [varchar](50) NOT NULL,
	[Request_Status_Ar] [varchar](50) NOT NULL,
	[In_Start] [bit] NOT NULL,
	[In_End] [bit] NOT NULL,
 CONSTRAINT [PK_Request_Status] PRIMARY KEY CLUSTERED 
(
	[Request_Status_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 10/20/2025 11:12:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NULL,
	[RoleNameAr] [nvarchar](50) NULL,
	[RoleInUse] [bit] NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleUser]    Script Date: 10/20/2025 11:12:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleUser](
	[RoleUserId] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[CrDate] [datetime] NULL,
	[CrUserId] [int] NULL,
 CONSTRAINT [PK_RoleUser] PRIMARY KEY CLUSTERED 
(
	[RoleUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Section]    Script Date: 10/20/2025 11:12:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Section](
	[Section_Id] [int] IDENTITY(1,1) NOT NULL,
	[Section_Name_Eng] [nvarchar](50) NOT NULL,
	[DEPT_ID] [int] NOT NULL,
	[Section_In_Use] [bit] NULL,
	[Cr_UserId] [nvarchar](128) NULL,
	[Cr_Date] [datetime] NULL,
	[Up_UserId] [nvarchar](128) NULL,
	[Up_Date] [datetime] NULL,
 CONSTRAINT [PK_Section] PRIMARY KEY CLUSTERED 
(
	[Section_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shared_Table]    Script Date: 10/20/2025 11:12:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shared_Table](
	[Shared_Table_Id] [int] IDENTITY(1,1) NOT NULL,
	[Shared_Table_Name] [varchar](50) NOT NULL,
	[Shared_Table_Column] [varchar](50) NOT NULL,
	[Shared_Table_Value] [varchar](50) NOT NULL,
	[Shared_Table_Name_displayed] [varchar](50) NOT NULL,
	[InUSe] [bit] NULL,
 CONSTRAINT [PK_Shared_Table] PRIMARY KEY CLUSTERED 
(
	[Shared_Table_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemInfo]    Script Date: 10/20/2025 11:12:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemInfo](
	[SystemInfoId] [int] IDENTITY(1,1) NOT NULL,
	[SystemInfoName] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_SystemInfo] PRIMARY KEY CLUSTERED 
(
	[SystemInfoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tools]    Script Date: 10/20/2025 11:12:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tools](
	[Tools_Id] [int] IDENTITY(1,1) NOT NULL,
	[Tool_Name] [varchar](50) NOT NULL,
	[Tool_In_Use] [bit] NOT NULL,
	[From_DataBase] [bit] NOT NULL,
	[Img_Url] [varchar](50) NULL,
	[Tool_value] [varchar](50) NULL,
 CONSTRAINT [PK_Tools] PRIMARY KEY CLUSTERED 
(
	[Tools_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserInfo]    Script Date: 10/20/2025 11:12:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserInfo](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NULL,
	[FullName] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[UserIdentity] [nvarchar](50) NULL,
	[UserActive] [bit] NULL,
	[CrDate] [datetime] NULL,
	[CrUserId] [int] NOT NULL,
 CONSTRAINT [PK_UserInfo] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_FnApplicationLevelAssigned]    Script Date: 10/20/2025 11:12:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_FnApplicationLevelAssigned](
	[Application_Level_Assigned_Id] [int] NOT NULL,
	[Application_Level_Id] [int] NOT NULL,
	[AssginTypeID] [int] NULL,
	[Assigned_To_Emp_Id] [int] NULL,
	[ManagerTypeID] [int] NULL,
	[Assigned_In_Use] [bit] NULL,
	[Cr_Date] [datetime] NULL,
	[Cr_Emp_Id] [nvarchar](128) NULL,
	[Up_Date] [datetime] NULL,
	[Up_Emp_Id] [nvarchar](128) NULL,
	[Employee_Name] [nvarchar](128) NULL,
	[IDNumber] [nvarchar](128) NULL,
	[NT_User] [nvarchar](128) NULL,
	[AssTo] [nvarchar](128) NULL,
	[AssType] [nvarchar](128) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_FnEmp]    Script Date: 10/20/2025 11:12:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_FnEmp](
	[EmployeeID] [int] NOT NULL,
	[Employee_Name] [nvarchar](50) NULL,
	[IDNumber] [nvarchar](50) NULL,
	[NT_User] [nvarchar](50) NULL,
	[MilitaryRank_ID] [int] NULL,
	[Military_Rank_Name] [nvarchar](50) NULL,
	[CivilRankID] [int] NULL,
	[CivilRankName] [nvarchar](50) NULL,
	[FullName] [nvarchar](max) NULL,
	[IP] [nvarchar](max) NULL,
	[SwitchIP] [nvarchar](max) NULL,
	[Department] [nvarchar](max) NULL,
	[Section] [nvarchar](max) NULL,
	[Building] [nvarchar](max) NULL,
	[Floor] [nvarchar](max) NULL,
	[Room] [nvarchar](max) NULL,
	[LastRequestID] [nvarchar](max) NULL,
	[MobileNo] [nvarchar](max) NULL,
	[ExtensionNo] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_SharedTableData]    Script Date: 10/20/2025 11:12:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_SharedTableData](
	[DropIdTable] [int] NOT NULL,
	[Drop_Name] [nvarchar](50) NULL,
	[Drop_Id] [nvarchar](50) NULL,
	[Shared_Table_Id] [int] NULL,
 CONSTRAINT [PK_SharedTableData] PRIMARY KEY CLUSTERED 
(
	[DropIdTable] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Actions] ON 

INSERT [dbo].[Actions] ([ActionID], [ActionName], [ActionInUSe], [ActionNameArabic], [MoveNext], [SuspendIn], [IsSpecial], [ForApplication_Id]) VALUES (1, N'Approve', 1, N'الموافقة او الاعتماد', 1, 0, 0, NULL)
INSERT [dbo].[Actions] ([ActionID], [ActionName], [ActionInUSe], [ActionNameArabic], [MoveNext], [SuspendIn], [IsSpecial], [ForApplication_Id]) VALUES (2, N'Reject', 1, N'رفض', 0, 0, 0, NULL)
INSERT [dbo].[Actions] ([ActionID], [ActionName], [ActionInUSe], [ActionNameArabic], [MoveNext], [SuspendIn], [IsSpecial], [ForApplication_Id]) VALUES (3, N'Suspend', 1, N'تعليف الي حين', 0, 1, 0, NULL)
SET IDENTITY_INSERT [dbo].[Actions] OFF
GO
SET IDENTITY_INSERT [dbo].[ApplicationLink] ON 

INSERT [dbo].[ApplicationLink] ([ApplictionLinkId], [FromTApplicationLevelId], [ToApplicationLevelId], [templateId], [length], [InUse]) VALUES (2025, 8156, 8157, N'rounded', 76.8671073401736, 1)
INSERT [dbo].[ApplicationLink] ([ApplictionLinkId], [FromTApplicationLevelId], [ToApplicationLevelId], [templateId], [length], [InUse]) VALUES (2026, 8157, 8158, N'rounded', 419.4545454545455, 1)
INSERT [dbo].[ApplicationLink] ([ApplictionLinkId], [FromTApplicationLevelId], [ToApplicationLevelId], [templateId], [length], [InUse]) VALUES (2027, 8157, 8159, N'rounded', 223.15645685164731, 1)
SET IDENTITY_INSERT [dbo].[ApplicationLink] OFF
GO
SET IDENTITY_INSERT [dbo].[ApplicationNotification] ON 

INSERT [dbo].[ApplicationNotification] ([ApplicationNotificationID], [ActionID], [ApplictionLinkId], [ToEmpId]) VALUES (7, 1, 2027, 1)
INSERT [dbo].[ApplicationNotification] ([ApplicationNotificationID], [ActionID], [ApplictionLinkId], [ToEmpId]) VALUES (6, 1, 2027, 2)
INSERT [dbo].[ApplicationNotification] ([ApplicationNotificationID], [ActionID], [ApplictionLinkId], [ToEmpId]) VALUES (15, 1, 2045, 2)
SET IDENTITY_INSERT [dbo].[ApplicationNotification] OFF
GO
SET IDENTITY_INSERT [dbo].[Application_Level_Assigned] ON 

INSERT [dbo].[Application_Level_Assigned] ([Application_Level_Assigned_Id], [Application_Level_Id], [AssginTypeID], [Assigned_To_Emp_Id], [ManagerTypeID], [Assigned_In_Use], [Cr_Date], [Cr_Emp_Id], [Up_Date], [Up_Emp_Id]) VALUES (149, 8156, 1, 2, NULL, NULL, CAST(N'2024-09-17T14:08:59.070' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[Application_Level_Assigned] ([Application_Level_Assigned_Id], [Application_Level_Id], [AssginTypeID], [Assigned_To_Emp_Id], [ManagerTypeID], [Assigned_In_Use], [Cr_Date], [Cr_Emp_Id], [Up_Date], [Up_Emp_Id]) VALUES (150, 8156, 2, NULL, 4, NULL, CAST(N'2024-09-17T14:09:23.660' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[Application_Level_Assigned] ([Application_Level_Assigned_Id], [Application_Level_Id], [AssginTypeID], [Assigned_To_Emp_Id], [ManagerTypeID], [Assigned_In_Use], [Cr_Date], [Cr_Emp_Id], [Up_Date], [Up_Emp_Id]) VALUES (151, 8163, 1, 1, NULL, NULL, CAST(N'2024-09-17T14:38:58.807' AS DateTime), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Application_Level_Assigned] OFF
GO
SET IDENTITY_INSERT [dbo].[Application_Levels] ON 

INSERT [dbo].[Application_Levels] ([Application_Level_Id], [Application_Id], [Archives_master_Id], [Application_Level_Name], [Application_Level_Index], [Can_Show_Attach], [Can_End_Request], [Can_Return], [Can_Reject], [Can_Conversion], [Application_Level_InUse], [Application_Level_Up_Date], [Application_Level_Up_EmpId], [ProcuderName], [TBName], [Notification], [HiddenLevel], [x], [y], [fill], [templateId]) VALUES (8156, 3043, NULL, N'تقديم الطلب?', 8156, 0, 0, 0, 0, 0, 1, NULL, NULL, NULL, NULL, NULL, NULL, 741.33806818181824, 52.707182320441987, N'#008000', N'start')
INSERT [dbo].[Application_Levels] ([Application_Level_Id], [Application_Id], [Archives_master_Id], [Application_Level_Name], [Application_Level_Index], [Can_Show_Attach], [Can_End_Request], [Can_Return], [Can_Reject], [Can_Conversion], [Application_Level_InUse], [Application_Level_Up_Date], [Application_Level_Up_EmpId], [ProcuderName], [TBName], [Notification], [HiddenLevel], [x], [y], [fill], [templateId]) VALUES (8157, 3043, NULL, N'مركز البلاغات', 8157, 0, 0, 0, 0, 0, 1, NULL, NULL, NULL, NULL, NULL, NULL, 741.33806818181824, 236.69928966061559, N'#039BE5', N'process')
INSERT [dbo].[Application_Levels] ([Application_Level_Id], [Application_Id], [Archives_master_Id], [Application_Level_Name], [Application_Level_Index], [Can_Show_Attach], [Can_End_Request], [Can_Return], [Can_Reject], [Can_Conversion], [Application_Level_InUse], [Application_Level_Up_Date], [Application_Level_Up_EmpId], [ProcuderName], [TBName], [Notification], [HiddenLevel], [x], [y], [fill], [templateId]) VALUES (8158, 3043, NULL, N'End', 8158, 0, 1, 0, 0, 0, 1, NULL, NULL, NULL, NULL, NULL, NULL, 131.88352272727275, 236.69928966061559, N'#cd1c18', N'End')
SET IDENTITY_INSERT [dbo].[Application_Levels] OFF
GO
SET IDENTITY_INSERT [dbo].[Application_Requirement] ON 

INSERT [dbo].[Application_Requirement] ([Application_Requirement_Id], [Application_Level_Id], [Application_Id], [Archives_master_Id], [Column_Name_Value], [Tools_Id], [Is_Required], [Shared_Table_Id], [Application_Requirement_In_Use], [Cr_Date], [Cr_Emp_Id], [Up_Date], [Up_Emp_Id], [In_Start], [DisplaylinkId], [FixId], [FnRun], [DisplayIndex], [UseMin]) VALUES (9229, 8157, 3043, NULL, N'توضيح المشكلة', 1, 0, NULL, 1, CAST(N'2024-09-16T10:45:28.187' AS DateTime), 18, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Application_Requirement] ([Application_Requirement_Id], [Application_Level_Id], [Application_Id], [Archives_master_Id], [Column_Name_Value], [Tools_Id], [Is_Required], [Shared_Table_Id], [Application_Requirement_In_Use], [Cr_Date], [Cr_Emp_Id], [Up_Date], [Up_Emp_Id], [In_Start], [DisplaylinkId], [FixId], [FnRun], [DisplayIndex], [UseMin]) VALUES (9230, 8156, 3043, NULL, N'توضيح المشكلة', 1, 0, NULL, 1, CAST(N'2024-09-16T10:46:00.067' AS DateTime), 18, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Application_Requirement] ([Application_Requirement_Id], [Application_Level_Id], [Application_Id], [Archives_master_Id], [Column_Name_Value], [Tools_Id], [Is_Required], [Shared_Table_Id], [Application_Requirement_In_Use], [Cr_Date], [Cr_Emp_Id], [Up_Date], [Up_Emp_Id], [In_Start], [DisplaylinkId], [FixId], [FnRun], [DisplayIndex], [UseMin]) VALUES (9251, 8156, 3043, NULL, N'مرفق', 11, 0, NULL, 1, CAST(N'2024-09-17T11:10:11.060' AS DateTime), 18, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Application_Requirement] OFF
GO
SET IDENTITY_INSERT [dbo].[Applications] ON 

INSERT [dbo].[Applications] ([Application_Id], [Application_Name_Eng], [Application_Name_Ar], [Department_Id], [Section_Id], [Cr_Date], [Cr_Emp_Id], [Up_Date], [Up_Emp_Id], [Application_In_Use], [SystemInfoId]) VALUES (3043, N'بلاغ برنامج المحرر', N'بلاغ برنامج المحرر', 37, NULL, CAST(N'2024-09-16T09:48:47.173' AS DateTime), N'12', NULL, NULL, 1, 1)
INSERT [dbo].[Applications] ([Application_Id], [Application_Name_Eng], [Application_Name_Ar], [Department_Id], [Section_Id], [Cr_Date], [Cr_Emp_Id], [Up_Date], [Up_Emp_Id], [Application_In_Use], [SystemInfoId]) VALUES (3044, N'بلاغ برنامج DMS', N'بلاغ برنامج DMS', 37, NULL, CAST(N'2024-09-16T09:49:30.967' AS DateTime), N'12', NULL, NULL, 1, 1)
INSERT [dbo].[Applications] ([Application_Id], [Application_Name_Eng], [Application_Name_Ar], [Department_Id], [Section_Id], [Cr_Date], [Cr_Emp_Id], [Up_Date], [Up_Emp_Id], [Application_In_Use], [SystemInfoId]) VALUES (3045, N'طلب اجازة', N'طلب اجازة', 37, NULL, CAST(N'2024-09-17T14:15:43.593' AS DateTime), N'12', NULL, NULL, 1, 1)
SET IDENTITY_INSERT [dbo].[Applications] OFF
GO
SET IDENTITY_INSERT [dbo].[AttachmentsType] ON 

INSERT [dbo].[AttachmentsType] ([AttachTypeId], [AttachTypeName], [InUse]) VALUES (1, N'Certificate', 1)
INSERT [dbo].[AttachmentsType] ([AttachTypeId], [AttachTypeName], [InUse]) VALUES (2, N'National ID/Iqama', 1)
INSERT [dbo].[AttachmentsType] ([AttachTypeId], [AttachTypeName], [InUse]) VALUES (4, N'Family ID', 1)
SET IDENTITY_INSERT [dbo].[AttachmentsType] OFF
GO
SET IDENTITY_INSERT [dbo].[Department] ON 

INSERT [dbo].[Department] ([Department_Id], [DIVISIONID], [Department_Name_Eng], [STATUS_ID], [DEPT_CRE_UID], [DEPT_CRE_DATE], [Department_Name_Ar]) VALUES (37, 1, N'البرامج', 1, NULL, CAST(N'2024-01-01' AS Date), N'تقنية المعلومات')
INSERT [dbo].[Department] ([Department_Id], [DIVISIONID], [Department_Name_Eng], [STATUS_ID], [DEPT_CRE_UID], [DEPT_CRE_DATE], [Department_Name_Ar]) VALUES (39, 1, N'الشبكات', 1, NULL, NULL, NULL)
INSERT [dbo].[Department] ([Department_Id], [DIVISIONID], [Department_Name_Eng], [STATUS_ID], [DEPT_CRE_UID], [DEPT_CRE_DATE], [Department_Name_Ar]) VALUES (40, 1, N'امن المعلومات', 1, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Department] OFF
GO
SET IDENTITY_INSERT [dbo].[DisplayLink] ON 

INSERT [dbo].[DisplayLink] ([DisplaylinkId], [DisplaylinkName], [DisplaylinkInUse], [DisplayFunction]) VALUES (1, N'Employee leaves', 1, N'EmpLeaves')
INSERT [dbo].[DisplayLink] ([DisplaylinkId], [DisplaylinkName], [DisplaylinkInUse], [DisplayFunction]) VALUES (2, N'Add Expense', 1, N'AddExpense')
INSERT [dbo].[DisplayLink] ([DisplaylinkId], [DisplaylinkName], [DisplaylinkInUse], [DisplayFunction]) VALUES (3, N'Requirement Order', 1, N'GetRequirementOrder')
SET IDENTITY_INSERT [dbo].[DisplayLink] OFF
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([EmployeeID], [Employee_Name], [IDNumber], [NT_User], [MilitaryRank_ID], [Military_Rank_Name], [CivilRankID], [CivilRankName]) VALUES (1, N'مظفر', N'2342999394', N'Z026', 1, N'', 2, N'مدني')
INSERT [dbo].[Employees] ([EmployeeID], [Employee_Name], [IDNumber], [NT_User], [MilitaryRank_ID], [Military_Rank_Name], [CivilRankID], [CivilRankName]) VALUES (2, N'احمد احمود', N'123456789', N'a555', 2, N'عميد', NULL, NULL)
INSERT [dbo].[Employees] ([EmployeeID], [Employee_Name], [IDNumber], [NT_User], [MilitaryRank_ID], [Military_Rank_Name], [CivilRankID], [CivilRankName]) VALUES (3, N'طاهر علي ', N'987654321', N'a666', 2, N'عميد', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
SET IDENTITY_INSERT [dbo].[LinkCondation] ON 

INSERT [dbo].[LinkCondation] ([LinkCondationID], [ApplictionLinkId], [ActionID], [AnyOne], [MustAll], [ChangeActionID]) VALUES (1010, 2025, 1, 1, 0, NULL)
INSERT [dbo].[LinkCondation] ([LinkCondationID], [ApplictionLinkId], [ActionID], [AnyOne], [MustAll], [ChangeActionID]) VALUES (1011, 2028, 1, 1, 0, NULL)
INSERT [dbo].[LinkCondation] ([LinkCondationID], [ApplictionLinkId], [ActionID], [AnyOne], [MustAll], [ChangeActionID]) VALUES (1012, 2026, 2, 1, 0, NULL)
SET IDENTITY_INSERT [dbo].[LinkCondation] OFF
GO
SET IDENTITY_INSERT [dbo].[ManagerType] ON 

INSERT [dbo].[ManagerType] ([ManagerTypeID], [ManagerTypeName], [InUse]) VALUES (1, N'مدير الادارة', 1)
INSERT [dbo].[ManagerType] ([ManagerTypeID], [ManagerTypeName], [InUse]) VALUES (3, N'مدير الشعبة', 1)
INSERT [dbo].[ManagerType] ([ManagerTypeID], [ManagerTypeName], [InUse]) VALUES (4, N'المدير المباشر', 1)
SET IDENTITY_INSERT [dbo].[ManagerType] OFF
GO
SET IDENTITY_INSERT [dbo].[NotificationApp] ON 

INSERT [dbo].[NotificationApp] ([NotificationAppId], [NotificationAppName]) VALUES (1, N'HR System')
INSERT [dbo].[NotificationApp] ([NotificationAppId], [NotificationAppName]) VALUES (2, N'WorkFlow System')
SET IDENTITY_INSERT [dbo].[NotificationApp] OFF
GO
SET IDENTITY_INSERT [dbo].[RelativeType] ON 

INSERT [dbo].[RelativeType] ([Relative_TypeId], [RelativeTypeName]) VALUES (1, N'Spouse')
INSERT [dbo].[RelativeType] ([Relative_TypeId], [RelativeTypeName]) VALUES (2, N'Child')
INSERT [dbo].[RelativeType] ([Relative_TypeId], [RelativeTypeName]) VALUES (3, N'Parent')
SET IDENTITY_INSERT [dbo].[RelativeType] OFF
GO
INSERT [dbo].[Request_Details_Status] ([Request_Details_Status_Id], [Request_Details_Status_Eng], [Request_Details_Status_Ar], [Retrun], [Reject], [Complete], [Conversion]) VALUES (1, N'Return', N'ارجاع', 1, 0, 0, 0)
INSERT [dbo].[Request_Details_Status] ([Request_Details_Status_Id], [Request_Details_Status_Eng], [Request_Details_Status_Ar], [Retrun], [Reject], [Complete], [Conversion]) VALUES (3, N'Conversion', N'تحويل', 0, 0, 0, 1)
INSERT [dbo].[Request_Details_Status] ([Request_Details_Status_Id], [Request_Details_Status_Eng], [Request_Details_Status_Ar], [Retrun], [Reject], [Complete], [Conversion]) VALUES (5, N'Approved', N'تم ', 0, 0, 1, 0)
GO
SET IDENTITY_INSERT [dbo].[Request_Status] ON 

INSERT [dbo].[Request_Status] ([Request_Status_Id], [Request_Status_Eng], [Request_Status_Ar], [In_Start], [In_End]) VALUES (2, N'Pending', N'In Start', 1, 0)
INSERT [dbo].[Request_Status] ([Request_Status_Id], [Request_Status_Eng], [Request_Status_Ar], [In_Start], [In_End]) VALUES (4, N'In Process', N'في العمل', 0, 0)
INSERT [dbo].[Request_Status] ([Request_Status_Id], [Request_Status_Eng], [Request_Status_Ar], [In_Start], [In_End]) VALUES (5, N'Completed', N'في النهاية', 0, 1)
SET IDENTITY_INSERT [dbo].[Request_Status] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([RoleId], [RoleName], [RoleNameAr], [RoleInUse]) VALUES (1, N'admin', N'admin', 1)
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[RoleUser] ON 

INSERT [dbo].[RoleUser] ([RoleUserId], [RoleId], [UserId], [CrDate], [CrUserId]) VALUES (1, 1, 2, NULL, NULL)
SET IDENTITY_INSERT [dbo].[RoleUser] OFF
GO
SET IDENTITY_INSERT [dbo].[Section] ON 

INSERT [dbo].[Section] ([Section_Id], [Section_Name_Eng], [DEPT_ID], [Section_In_Use], [Cr_UserId], [Cr_Date], [Up_UserId], [Up_Date]) VALUES (2, N'البرامج', 37, 1, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Section] OFF
GO
SET IDENTITY_INSERT [dbo].[Shared_Table] ON 

INSERT [dbo].[Shared_Table] ([Shared_Table_Id], [Shared_Table_Name], [Shared_Table_Column], [Shared_Table_Value], [Shared_Table_Name_displayed], [InUSe]) VALUES (1, N'Section', N'Section_Name_Eng', N'Section_Id', N'Sections', 1)
INSERT [dbo].[Shared_Table] ([Shared_Table_Id], [Shared_Table_Name], [Shared_Table_Column], [Shared_Table_Value], [Shared_Table_Name_displayed], [InUSe]) VALUES (3, N'Department', N'Department_Name_Eng', N'Department_Id', N'Departments', 1)
INSERT [dbo].[Shared_Table] ([Shared_Table_Id], [Shared_Table_Name], [Shared_Table_Column], [Shared_Table_Value], [Shared_Table_Name_displayed], [InUSe]) VALUES (5, N'FnLeaveForWorkFlow()', N'LEAVE_TYPE_NAME', N'LEAVE_TYPE_ID', N'Leave Types', 0)
SET IDENTITY_INSERT [dbo].[Shared_Table] OFF
GO
SET IDENTITY_INSERT [dbo].[SystemInfo] ON 

INSERT [dbo].[SystemInfo] ([SystemInfoId], [SystemInfoName], [IsActive]) VALUES (1, N'بلاغات', 1)
SET IDENTITY_INSERT [dbo].[SystemInfo] OFF
GO
SET IDENTITY_INSERT [dbo].[Tools] ON 

INSERT [dbo].[Tools] ([Tools_Id], [Tool_Name], [Tool_In_Use], [From_DataBase], [Img_Url], [Tool_value]) VALUES (1, N'Text Box', 1, 0, NULL, N'text')
INSERT [dbo].[Tools] ([Tools_Id], [Tool_Name], [Tool_In_Use], [From_DataBase], [Img_Url], [Tool_value]) VALUES (2, N'Number', 1, 0, NULL, N'number')
INSERT [dbo].[Tools] ([Tools_Id], [Tool_Name], [Tool_In_Use], [From_DataBase], [Img_Url], [Tool_value]) VALUES (3, N'Date', 1, 0, NULL, N'date')
SET IDENTITY_INSERT [dbo].[Tools] OFF
GO
SET IDENTITY_INSERT [dbo].[UserInfo] ON 

INSERT [dbo].[UserInfo] ([UserId], [UserName], [FullName], [Password], [UserIdentity], [UserActive], [CrDate], [CrUserId]) VALUES (2, N'admin', N'dddd', N'123', N'dd', 1, NULL, 1)
SET IDENTITY_INSERT [dbo].[UserInfo] OFF
GO
/****** Object:  Index [NonClusteredIndex-20240917-133747]    Script Date: 10/20/2025 11:12:55 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [NonClusteredIndex-20240917-133747] ON [dbo].[ApplicationNotification]
(
	[ActionID] ASC,
	[ApplictionLinkId] ASC,
	[ToEmpId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [NonClusteredIndex-20240909-213043]    Script Date: 10/20/2025 11:12:55 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [NonClusteredIndex-20240909-213043] ON [dbo].[LinkCondation]
(
	[ApplictionLinkId] ASC,
	[ActionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ApplicationLable]  WITH CHECK ADD  CONSTRAINT [FK_ApplicationLable_ApplicationToLable] FOREIGN KEY([ToApplicationLevelId])
REFERENCES [dbo].[Application_Levels] ([Application_Level_Id])
GO
ALTER TABLE [dbo].[ApplicationLable] CHECK CONSTRAINT [FK_ApplicationLable_ApplicationToLable]
GO
ALTER TABLE [dbo].[ApplicationLable]  WITH CHECK ADD  CONSTRAINT [FK_ApplicationLable_Application_Levels] FOREIGN KEY([FromApplicationLevelId])
REFERENCES [dbo].[Application_Levels] ([Application_Level_Id])
GO
ALTER TABLE [dbo].[ApplicationLable] CHECK CONSTRAINT [FK_ApplicationLable_Application_Levels]
GO
ALTER TABLE [dbo].[ApplicationLink]  WITH CHECK ADD  CONSTRAINT [FK_ApplicationLink_ApplicationFromLink] FOREIGN KEY([FromTApplicationLevelId])
REFERENCES [dbo].[Application_Levels] ([Application_Level_Id])
GO
ALTER TABLE [dbo].[ApplicationLink] CHECK CONSTRAINT [FK_ApplicationLink_ApplicationFromLink]
GO
ALTER TABLE [dbo].[ApplicationLink]  WITH CHECK ADD  CONSTRAINT [FK_ApplicationLink_Application_LevelsToLink] FOREIGN KEY([ToApplicationLevelId])
REFERENCES [dbo].[Application_Levels] ([Application_Level_Id])
GO
ALTER TABLE [dbo].[ApplicationLink] CHECK CONSTRAINT [FK_ApplicationLink_Application_LevelsToLink]
GO
ALTER TABLE [dbo].[ApplicationNotification]  WITH CHECK ADD  CONSTRAINT [FK_ApplicationNotification_ApplicationLink] FOREIGN KEY([ApplictionLinkId])
REFERENCES [dbo].[ApplicationLink] ([ApplictionLinkId])
GO
ALTER TABLE [dbo].[ApplicationNotification] CHECK CONSTRAINT [FK_ApplicationNotification_ApplicationLink]
GO
ALTER TABLE [dbo].[ApplicationNotification]  WITH CHECK ADD  CONSTRAINT [FK_ApplicationNotification_ApplicationNotification] FOREIGN KEY([ActionID])
REFERENCES [dbo].[Actions] ([ActionID])
GO
ALTER TABLE [dbo].[ApplicationNotification] CHECK CONSTRAINT [FK_ApplicationNotification_ApplicationNotification]
GO
ALTER TABLE [dbo].[ApplicationNotification]  WITH CHECK ADD  CONSTRAINT [FK_ApplicationNotification_Employees] FOREIGN KEY([ToEmpId])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[ApplicationNotification] CHECK CONSTRAINT [FK_ApplicationNotification_Employees]
GO
ALTER TABLE [dbo].[ApplicationProcuderDetail]  WITH CHECK ADD  CONSTRAINT [FK_ApplicationProcuderDetailPr] FOREIGN KEY([Application_Level_Id])
REFERENCES [dbo].[Application_Levels] ([Application_Level_Id])
GO
ALTER TABLE [dbo].[ApplicationProcuderDetail] CHECK CONSTRAINT [FK_ApplicationProcuderDetailPr]
GO
ALTER TABLE [dbo].[ApplicationProcuderDetail]  WITH CHECK ADD  CONSTRAINT [FK_ApplicationProcuderDetail_Application_Requirement] FOREIGN KEY([Application_Requirement_Id])
REFERENCES [dbo].[Application_Requirement] ([Application_Requirement_Id])
GO
ALTER TABLE [dbo].[ApplicationProcuderDetail] CHECK CONSTRAINT [FK_ApplicationProcuderDetail_Application_Requirement]
GO
ALTER TABLE [dbo].[Application_Level_Assigned]  WITH CHECK ADD  CONSTRAINT [FK_Application_Level_Assigned_Application_Level_Assigned] FOREIGN KEY([Application_Level_Id])
REFERENCES [dbo].[Application_Levels] ([Application_Level_Id])
GO
ALTER TABLE [dbo].[Application_Level_Assigned] CHECK CONSTRAINT [FK_Application_Level_Assigned_Application_Level_Assigned]
GO
ALTER TABLE [dbo].[Application_Level_Assigned]  WITH CHECK ADD  CONSTRAINT [FK_Application_Level_Assigned_Application_Level_Assigned1] FOREIGN KEY([Application_Level_Assigned_Id])
REFERENCES [dbo].[Application_Level_Assigned] ([Application_Level_Assigned_Id])
GO
ALTER TABLE [dbo].[Application_Level_Assigned] CHECK CONSTRAINT [FK_Application_Level_Assigned_Application_Level_Assigned1]
GO
ALTER TABLE [dbo].[Application_Levels]  WITH CHECK ADD  CONSTRAINT [FK_Application_Levels_Applications] FOREIGN KEY([Application_Id])
REFERENCES [dbo].[Applications] ([Application_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Application_Levels] CHECK CONSTRAINT [FK_Application_Levels_Applications]
GO
ALTER TABLE [dbo].[Application_Levels]  WITH CHECK ADD  CONSTRAINT [FK_Application_Levels_Archives_master] FOREIGN KEY([Archives_master_Id])
REFERENCES [dbo].[Archives_master] ([Archives_master_Id])
GO
ALTER TABLE [dbo].[Application_Levels] CHECK CONSTRAINT [FK_Application_Levels_Archives_master]
GO
ALTER TABLE [dbo].[Application_Requirement]  WITH CHECK ADD  CONSTRAINT [FK_Application_Requirement_Application_Levels] FOREIGN KEY([Application_Level_Id])
REFERENCES [dbo].[Application_Levels] ([Application_Level_Id])
GO
ALTER TABLE [dbo].[Application_Requirement] CHECK CONSTRAINT [FK_Application_Requirement_Application_Levels]
GO
ALTER TABLE [dbo].[Application_Requirement]  WITH CHECK ADD  CONSTRAINT [FK_Application_Requirement_Applications1] FOREIGN KEY([Application_Id])
REFERENCES [dbo].[Applications] ([Application_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Application_Requirement] CHECK CONSTRAINT [FK_Application_Requirement_Applications1]
GO
ALTER TABLE [dbo].[Application_Requirement]  WITH CHECK ADD  CONSTRAINT [FK_Application_Requirement_Archives_master] FOREIGN KEY([Archives_master_Id])
REFERENCES [dbo].[Archives_master] ([Archives_master_Id])
GO
ALTER TABLE [dbo].[Application_Requirement] CHECK CONSTRAINT [FK_Application_Requirement_Archives_master]
GO
ALTER TABLE [dbo].[Application_Requirement]  WITH CHECK ADD  CONSTRAINT [FK_Application_Requirement_DisplayLink] FOREIGN KEY([DisplaylinkId])
REFERENCES [dbo].[DisplayLink] ([DisplaylinkId])
GO
ALTER TABLE [dbo].[Application_Requirement] CHECK CONSTRAINT [FK_Application_Requirement_DisplayLink]
GO
ALTER TABLE [dbo].[Application_Requirement]  WITH CHECK ADD  CONSTRAINT [FK_Application_Requirement_Shared_Table] FOREIGN KEY([Shared_Table_Id])
REFERENCES [dbo].[Shared_Table] ([Shared_Table_Id])
GO
ALTER TABLE [dbo].[Application_Requirement] CHECK CONSTRAINT [FK_Application_Requirement_Shared_Table]
GO
ALTER TABLE [dbo].[Application_Requirement]  WITH CHECK ADD  CONSTRAINT [FK_Application_Requirement_Tools] FOREIGN KEY([Tools_Id])
REFERENCES [dbo].[Tools] ([Tools_Id])
GO
ALTER TABLE [dbo].[Application_Requirement] CHECK CONSTRAINT [FK_Application_Requirement_Tools]
GO
ALTER TABLE [dbo].[Application_Requirement_Details]  WITH CHECK ADD  CONSTRAINT [FK_Application_Requirement_Details_Application_Requirement] FOREIGN KEY([Application_Requirement_Id])
REFERENCES [dbo].[Application_Requirement] ([Application_Requirement_Id])
GO
ALTER TABLE [dbo].[Application_Requirement_Details] CHECK CONSTRAINT [FK_Application_Requirement_Details_Application_Requirement]
GO
ALTER TABLE [dbo].[Applications]  WITH CHECK ADD  CONSTRAINT [FK_Applications_Department] FOREIGN KEY([Department_Id])
REFERENCES [dbo].[Department] ([Department_Id])
GO
ALTER TABLE [dbo].[Applications] CHECK CONSTRAINT [FK_Applications_Department]
GO
ALTER TABLE [dbo].[Applications]  WITH CHECK ADD  CONSTRAINT [FK_Applications_Section] FOREIGN KEY([Section_Id])
REFERENCES [dbo].[Section] ([Section_Id])
GO
ALTER TABLE [dbo].[Applications] CHECK CONSTRAINT [FK_Applications_Section]
GO
ALTER TABLE [dbo].[Archives_master]  WITH CHECK ADD  CONSTRAINT [FK_Archives_master_Department] FOREIGN KEY([Department_Id])
REFERENCES [dbo].[Department] ([Department_Id])
GO
ALTER TABLE [dbo].[Archives_master] CHECK CONSTRAINT [FK_Archives_master_Department]
GO
ALTER TABLE [dbo].[AttachmentDetail]  WITH CHECK ADD  CONSTRAINT [FK_AttachmentDetail_AttachmentMaster] FOREIGN KEY([AttachmentId])
REFERENCES [dbo].[AttachmentMaster] ([AttachmentId])
GO
ALTER TABLE [dbo].[AttachmentDetail] CHECK CONSTRAINT [FK_AttachmentDetail_AttachmentMaster]
GO
ALTER TABLE [dbo].[DepManager]  WITH CHECK ADD  CONSTRAINT [FK_DepManager_Department] FOREIGN KEY([Department_Id])
REFERENCES [dbo].[Department] ([Department_Id])
GO
ALTER TABLE [dbo].[DepManager] CHECK CONSTRAINT [FK_DepManager_Department]
GO
ALTER TABLE [dbo].[LinkCondation]  WITH CHECK ADD  CONSTRAINT [FK_LinkCondation_Actions] FOREIGN KEY([ActionID])
REFERENCES [dbo].[Actions] ([ActionID])
GO
ALTER TABLE [dbo].[LinkCondation] CHECK CONSTRAINT [FK_LinkCondation_Actions]
GO
ALTER TABLE [dbo].[LinkCondation]  WITH CHECK ADD  CONSTRAINT [FK_LinkCondation_ActionsForChange] FOREIGN KEY([ChangeActionID])
REFERENCES [dbo].[Actions] ([ActionID])
GO
ALTER TABLE [dbo].[LinkCondation] CHECK CONSTRAINT [FK_LinkCondation_ActionsForChange]
GO
ALTER TABLE [dbo].[LinkCondation]  WITH CHECK ADD  CONSTRAINT [FK_LinkCondation_ApplicationLink] FOREIGN KEY([ApplictionLinkId])
REFERENCES [dbo].[ApplicationLink] ([ApplictionLinkId])
GO
ALTER TABLE [dbo].[LinkCondation] CHECK CONSTRAINT [FK_LinkCondation_ApplicationLink]
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD  CONSTRAINT [FK_Notification_NotificationApp] FOREIGN KEY([NotificationAppId])
REFERENCES [dbo].[NotificationApp] ([NotificationAppId])
GO
ALTER TABLE [dbo].[Notification] CHECK CONSTRAINT [FK_Notification_NotificationApp]
GO
ALTER TABLE [dbo].[Notifier]  WITH CHECK ADD  CONSTRAINT [FK_Notifier_Notification] FOREIGN KEY([NotificationId])
REFERENCES [dbo].[Notification] ([NotificationId])
GO
ALTER TABLE [dbo].[Notifier] CHECK CONSTRAINT [FK_Notifier_Notification]
GO
ALTER TABLE [dbo].[Request]  WITH CHECK ADD  CONSTRAINT [FK_Request_Applications] FOREIGN KEY([Application_Id])
REFERENCES [dbo].[Applications] ([Application_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Request] CHECK CONSTRAINT [FK_Request_Applications]
GO
ALTER TABLE [dbo].[Request]  WITH CHECK ADD  CONSTRAINT [FK_Request_Request_Status] FOREIGN KEY([Request_Status_Id])
REFERENCES [dbo].[Request_Status] ([Request_Status_Id])
GO
ALTER TABLE [dbo].[Request] CHECK CONSTRAINT [FK_Request_Request_Status]
GO
ALTER TABLE [dbo].[Request_Details]  WITH CHECK ADD  CONSTRAINT [FK_Request_Details_Application_Requirement] FOREIGN KEY([Application_Requirement_Id])
REFERENCES [dbo].[Application_Requirement] ([Application_Requirement_Id])
GO
ALTER TABLE [dbo].[Request_Details] CHECK CONSTRAINT [FK_Request_Details_Application_Requirement]
GO
ALTER TABLE [dbo].[Request_Details]  WITH CHECK ADD  CONSTRAINT [FK_Request_Details_Application_Requirement_Details] FOREIGN KEY([S_Application_Req_Details_Id])
REFERENCES [dbo].[Application_Requirement_Details] ([Application_Req_Details_Id])
GO
ALTER TABLE [dbo].[Request_Details] CHECK CONSTRAINT [FK_Request_Details_Application_Requirement_Details]
GO
ALTER TABLE [dbo].[Request_Details]  WITH CHECK ADD  CONSTRAINT [FK_Request_Details_Request] FOREIGN KEY([Request_ID])
REFERENCES [dbo].[Request] ([Request_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Request_Details] CHECK CONSTRAINT [FK_Request_Details_Request]
GO
ALTER TABLE [dbo].[Request_Details]  WITH CHECK ADD  CONSTRAINT [FK_Request_Details_Request_Level] FOREIGN KEY([Request_Level_Id])
REFERENCES [dbo].[Request_Level] ([Request_Level_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Request_Details] CHECK CONSTRAINT [FK_Request_Details_Request_Level]
GO
ALTER TABLE [dbo].[Request_Details]  WITH CHECK ADD  CONSTRAINT [FK_Request_Details_Shared_Table] FOREIGN KEY([S_Shared_Table_Id])
REFERENCES [dbo].[Shared_Table] ([Shared_Table_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Request_Details] CHECK CONSTRAINT [FK_Request_Details_Shared_Table]
GO
ALTER TABLE [dbo].[Request_Details_Attach]  WITH CHECK ADD  CONSTRAINT [FK_Request_Details_Attach_Application_Requirement] FOREIGN KEY([Application_Requirement_Id])
REFERENCES [dbo].[Application_Requirement] ([Application_Requirement_Id])
GO
ALTER TABLE [dbo].[Request_Details_Attach] CHECK CONSTRAINT [FK_Request_Details_Attach_Application_Requirement]
GO
ALTER TABLE [dbo].[Request_Details_Attach]  WITH CHECK ADD  CONSTRAINT [FK_Request_Details_Attach_Request_Level] FOREIGN KEY([Request_Level_Id])
REFERENCES [dbo].[Request_Level] ([Request_Level_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Request_Details_Attach] CHECK CONSTRAINT [FK_Request_Details_Attach_Request_Level]
GO
ALTER TABLE [dbo].[Request_Level]  WITH CHECK ADD  CONSTRAINT [FK_Request_Level_ApplicationRequest] FOREIGN KEY([Application_Level_Id])
REFERENCES [dbo].[Application_Levels] ([Application_Level_Id])
GO
ALTER TABLE [dbo].[Request_Level] CHECK CONSTRAINT [FK_Request_Level_ApplicationRequest]
GO
ALTER TABLE [dbo].[Request_Level]  WITH CHECK ADD  CONSTRAINT [FK_Request_Level_Request] FOREIGN KEY([Request_ID])
REFERENCES [dbo].[Request] ([Request_ID])
GO
ALTER TABLE [dbo].[Request_Level] CHECK CONSTRAINT [FK_Request_Level_Request]
GO
ALTER TABLE [dbo].[Request_Level]  WITH CHECK ADD  CONSTRAINT [FK_Request_Level_Request_Details_Status] FOREIGN KEY([Request_Details_Status_Id])
REFERENCES [dbo].[Request_Details_Status] ([Request_Details_Status_Id])
GO
ALTER TABLE [dbo].[Request_Level] CHECK CONSTRAINT [FK_Request_Level_Request_Details_Status]
GO
ALTER TABLE [dbo].[Request_Level_Assigned]  WITH CHECK ADD  CONSTRAINT [FK_Request_Level_Assigned_Request_Level] FOREIGN KEY([Request_Level_Id])
REFERENCES [dbo].[Request_Level] ([Request_Level_Id])
GO
ALTER TABLE [dbo].[Request_Level_Assigned] CHECK CONSTRAINT [FK_Request_Level_Assigned_Request_Level]
GO
ALTER TABLE [dbo].[RoleUser]  WITH CHECK ADD  CONSTRAINT [FK_RoleUser_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([RoleId])
GO
ALTER TABLE [dbo].[RoleUser] CHECK CONSTRAINT [FK_RoleUser_Role]
GO
ALTER TABLE [dbo].[RoleUser]  WITH CHECK ADD  CONSTRAINT [FK_RoleUser_UserInfo] FOREIGN KEY([UserId])
REFERENCES [dbo].[UserInfo] ([UserId])
GO
ALTER TABLE [dbo].[RoleUser] CHECK CONSTRAINT [FK_RoleUser_UserInfo]
GO
ALTER TABLE [dbo].[Section]  WITH CHECK ADD  CONSTRAINT [FK_Section_DEPARTMENT] FOREIGN KEY([DEPT_ID])
REFERENCES [dbo].[Department] ([Department_Id])
GO
ALTER TABLE [dbo].[Section] CHECK CONSTRAINT [FK_Section_DEPARTMENT]
GO
/****** Object:  StoredProcedure [dbo].[Pr_Shared_Tabel_Data]    Script Date: 10/20/2025 11:12:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Pr_Shared_Tabel_Data]
	-- Add the parameters for the stored procedure here

	@SharedTableId nvarchar(max)
AS

BEGIN
Declare @Ftable As table(DropIdTable int identity(1,1) primary key, Drop_Name Nvarchar(max),Drop_Id Nvarchar(max), Shared_Table_Id int);
	SET NOCOUNT ON;
DECLARE @sqlCommand nvarchar(1000)
DECLARE @columnList varchar(75)
DECLARE @Table varchar(75)
DECLARE @insertTable varchar(75)
set @insertTable=N'@Ftable';
DECLARE @TableName varchar(75)

DECLARE @Column_Id varchar(75)
DECLARE @Column_Name varchar(75)

declare @Shared_Table_Id Nvarchar(max) 


DECLARE @oneid int -- or the appropriate type

DECLARE the_cursor CURSOR FAST_FORWARD
FOR SELECT Shared_Table_Id
    FROM Shared_Table

OPEN the_cursor
FETCH NEXT FROM the_cursor INTO @oneid

WHILE @@FETCH_STATUS = 0
BEGIN
  select top 1 @TableName=Shared_Table_Name,@Column_Name=Shared_Table_Column ,@Column_Id=Shared_Table_Value,@Shared_Table_Id=Shared_Table_Id from Shared_Table where   Shared_Table_Id= @oneid and InUSe=1

  SET @columnList = ''+ @Column_Name   +','+ @Column_Id  +','+ @Shared_Table_Id +''

set @Table='Tools'
SET @sqlCommand = N' SELECT ' + @columnList + ' FROM '+ @TableName 
--EXECUTE sp_executesql @sqlCommand, N'@Table nvarchar(max), @insertTable nvarchar(max) ', @Table =@Table ,@insertTable=@Ftable
INSERT INTO  @Ftable
exec (@sqlCommand)

    FETCH NEXT FROM the_cursor INTO @oneid
END

CLOSE the_cursor
DEALLOCATE the_cursor





Declare @Retable As table(DropIdTable int identity(1,1) primary key, Drop_Name Nvarchar(max),Drop_Id Nvarchar(max), Shared_Table_Id int);
insert into  @Retable select Drop_Name, Drop_Id,Shared_Table_Id from @Ftable where Shared_Table_Id= @SharedTableId group by Drop_Name,Drop_Id,Shared_Table_Id
select * from  @Retable
END

GO
USE [master]
GO
